<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         stopOnFailure="true"
         stopOnError="true"
         verbose="true">
  <php>
    <env name="MYSQL_DSN"   value="mysql:host=localhost;dbname=sqlbuilder"/>
    <env name="MYSQL_USER"   value="root"/>
    <env name="MYSQL_PASS"   value="qwer1234"/>
    <!--
    <env name="MYSQL_DB" value="sqlbuilder_test"/>
    -->

    <env name="PGSQL_DSN"   value="pgsql:host=localhost;dbname=sqlbuilder"/>
    <env name="PGSQL_USER"   value="postgres"/>
    <!--
    <env name="PGSQL_DB" value="sqlbuilder_test"/>
    -->

    <env name="SQLITE_DSN"   value="sqlite:sqlbuilder.sqlite"/>
  </php>

  <testsuites>
    <testsuite name="SQLBuilder">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <filter>
      <whitelist>
          <directory>./src</directory>
          <exclude>
              <directory>./build</directory>
              <directory>./composer</directory>
              <directory>./tests</directory>
              <directory>./travis</directory>
              <directory>./vendor</directory>
          </exclude>
      </whitelist>
  </filter>
</phpunit>
