<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         verbose="true">
  <php>

    <!-- MySQL Database Testing -->
    <var name="MYSQL_DSN"   value="mysql:host=localhost;"/>
    <var name="MYSQL_USER"   value="root"/>
    <var name="MYSQL_DB" value="sqlbuilder_test"/>

    <var name="PGSQL_DSN"   value="pgsql:host=localhost;"/>
    <var name="PGSQL_USER"   value="postgres"/>
    <var name="PGSQL_DB" value="sqlbuilder_test"/>
  </php>

  <testsuites>
    <testsuite name="PHPUnit">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
